#reserveModal {
    .modal-header {
        background-color: $color-teal; // Sets the background color for the Reserve modal
        color: white; // Sets the text color to white
    }
}

#loginModal {
    .modal-header {
        background-color: $color-mid; // Sets the background color for the Login modal
        color: white; // Sets the text color to white
    }
}