/* combined.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #e9e9ef;
}

/* Navbar Styles */
.navbar {
    margin-bottom: 20px;
}

/* Card Styles */
.card {
    border: none;
    border-radius: 0.5rem;
}

.card-img-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

/* Table Styles */
.table {
    margin-top: 20px;
}

.table th,
.table td {
    text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

/* Form Styles */
#main-content {
    margin-top: 20px;
}

h2,
h3 {
    color: #343a40;
}

.form-label {
    font-weight: bold;
}

.form-control,
.form-select {
    border-radius: 0.25rem;
}

/* Footer Styles */
footer,
.footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

.social-media a {
    color: white;
    font-size: 1.5rem;
}

.social-media a:hover {
    color: #007bff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .col-md-6 {
        margin-bottom: 20px;
    }
}